<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>{{actionIcon}}</mat-icon>
      <span id="create-edit-tittle">{{ actionTitle }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form-class container" [formGroup]="heroesForm">
      <div class="vertical-form">
        <mat-slide-toggle [formControl]="heroesForm.get('active')">
          {{heroesForm.get('active').value?'Active':'Deactive'}}
        </mat-slide-toggle>

        <div style="height: 20px;"></div>

        <mat-form-field appearance="outline">
          <mat-label>Name: </mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <div *ngIf="heroesForm.controls.name?.touched && heroesForm.controls.name?.invalid" class="text-danger">
          Name is invalid.
        </div>

        <div style="height: 20px;"></div>

        <mat-form-field appearance="outline">
          <mat-label>Power: </mat-label>
          <textarea
            formControlName="power"
            matInput
            maxlength="128"
          ></textarea>
          <mat-hint align="end">{{ heroesForm.get('power').value?.length }}/128</mat-hint>
        </mat-form-field>
        <div *ngIf="heroesForm.controls.power?.touched && heroesForm.controls.power?.invalid" class="text-danger">
          Power is invalid.
        </div>

        <div style="height: 20px;"></div>

        <mat-form-field appearance="outline">
          <mat-label>Publisher: </mat-label>
          <mat-select formControlName="publisher">
            <mat-option *ngFor="let option of publishers" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="height: 20px;"></div>

        <mat-form-field appearance="outline">
          <mat-label>Films: </mat-label>
          <input matInput type="number" formControlName="films">
        </mat-form-field>
        <div *ngIf="heroesForm.controls.films?.touched && heroesForm.controls.films?.invalid" class="text-danger" >
          Films number is invalid.
        </div>
        <div style="height: 20px;"></div>
      </div>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="heroesForm.invalid || !heroesForm.touched" (click)="submitForm()" mat-button>OK</button>
    <button (click)="cancel()" mat-button>Filter/List</button>
  </mat-card-actions>
</mat-card>
